<div class="home-content">
    <img alt="beer-img" src="../images/beer.png">
    <div><a href="/beers">Check the Beers!</a></div>
    <div><a href="/random-beer">Check out a Random Beer!</a></div>
</div>