<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="../stylesheets/styles.css">
    </head>
    <body>
        <%- include("../public/partials/navbar.ejs") %>
        <%- body %>
        <footer>
            DevelopED by EnglishBadCannotWriteGut ... -_-
        </footer>
    </body>
</html>